<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title localization-key="title"></title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/logo-no-background.svg') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye|Sofia|Reem Kufi|Lateef">
    <link href="{{ url_for('static', path='/css/bootstrap.rtl.min.css') }}" rel="stylesheet">
    {% block style %} {% endblock %}
</head>

<body>
    <header class="fixed-top" style="z-index: 10; box-shadow: 0 1px 10px rgba(0,0,0,.1); background-color: #fff;">
        <nav class="navbar px-3">
            <a class="navbar-brand" href="https://wide-techno.com/" target="new">
                <img src="{{ url_for('static', path='/img/comp.webp') }}" height="70" style="color:transparent">
            </a>
            <ul class="nav justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <button id="langBtn" type="button" class="btn btn-link" data-lang="{{ lang }}">
                        <img id="iconAr" src="{{ url_for('static', path='/img/arab.svg') }}" height="32"
                            style="display: block;">
                        <img id="iconEn" src="{{ url_for('static', path='/img/us.svg') }}" height="32"
                            style="display: none;">
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %} {% endblock %}
    <footer class="fixed-bottom border-top text-center py-3 px-5">
        <small>
            <span class="mb-3 mb-md-0 text-muted">
                <span localization-key="rights">Copyright ©</span>
                <a href="https://wide-techno.com/" target="new" localization-key="wt"></a>
                <span>
                    <script>document.write(new Date().getFullYear())</script>
                </span>
                <span localization-key="ksa"></span>
            </span>
        </small>
    </footer>
    <script src=" {{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    {% block script %} {% endblock %}
</body>

</html>