{% extends 'base.html' %}
    {% block style %} 
        <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    {% endblock %}

    {% block content %} 
        <div class="container my-5 py-5">
            <div class="px-4 py-5 text-center">
                <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='/img/logo-no-background.svg') }}"
                    alt="Music Logo" width="150">
                <h1 style="color: #ff2020;" localization-key="title"></h1>
                <h6 style="color: #ff2020;" localization-key="slogan"></h1>
                <div class="col-lg-9 col-xl-8 col-xx-7 mx-auto my-4">
                    <p class="lead mb-4" localization-key="description"></p>
                    <div class="input-group mb-2">
                        <input id="fileinput" class="form-control rounded" name="file" type="file" accept="audio/*,video/*">
                        <span style="min-width: 0.5em;"></span>
                        <button id="submitbtn" class="btn btn-danger rounded" type="button" disabled
                            localization-key="submitBtn"></button>
                        <div id="invalidFeedback" class="invalid-feedback px-3" style="text-align: start!important;"
                            localization-key="fileError"></div>
                    </div>
                </div>
                <div id="successAlert" class="alert alert-primary d-none" role="alert">
                    <span class="fs-4">
                        <span localization-key="success"></span>
                        <strong>
                            <a id="fileLink" href="#" class="alert-link" localization-key="download"></a>
                        </strong>
                    </span><br>
                </div>
                <div id="errorAlert" class="alert alert-danger d-none" role="alert" localization-key="error"></div>
            </div>
            <div class="modal" id="loadingModal" style="z-index: 10;">
                <div class="modal-content">
                    <div class="alert alert-info mx-auto" role="alert">
                        <div id="loading"></div>
                        <br>
                        <span class="fs-5" localization-key="loading"></span>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block script %} 
        <script src="{{ url_for('static', path='/js/i18n.js') }}"></script>
        <script src="{{ url_for('static', path='/js/controller.js') }}"></script>
    {% endblock %}
